@font-face {
  font-family: helvetica-bold;
  src: url('../webfonts/helveticabold.ttf');
}

@font-face {
  font-family: helvetica-reg;
  src: url('../webfonts/ArbFONTS-HelveticaNeueW23forSKY-Reg.ttf');
}

body {
  font-family: helvetica-reg;
}

html,
body {
  margin: 0;
}


/*----------------------navBar--------------------------------------------*/

.navbar-brand img {
  width: 210px;
}

header .nav-item .nav-link img {
  width: 35px;
}

header .nav-item .user img,
.nav-item .blog img {
  filter: invert(1);
}

header .nav-item .nav-link {
  margin-right: 35px;
  padding-bottom: 15px;
  border-bottom: 2px solid #ebe9ec;
  text-align: center;
}

header .nav-item .nav-link.active {
  border-bottom: 2px solid #1e8fff;
}

header .nav-item .nav-link:hover {
  border-bottom: 2px solid #1e8fff;
}


/* --------------------------------loginForm/signup------------------------------------------------------ */

.wrapper {
  text-align: center;
  margin: 20px auto 0;
}

.title {
  margin-bottom: 30px;
  font-size: 20px;
}

.nav-pills {
  background-color: #fff;
  padding: 0;
  border-radius: 20px;
  margin: 17px auto;
}

.max-h{
  max-height: 436px;
  min-height: 436px;
}

.sub-tabs {
  background-color: rgba(100, 180, 252, 0.7);
}

.sub-tabs.nav-pills .nav-link {
  color: #fff;
}

.sub-tabs.nav-pills .nav-item {
  line-height: 20px;
  width: 33.33333%;
}

.main-tabs .nav-item {
  width: 50%;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: #ffd037;
  color: #000;
}

.nav-pills .nav-link {
  color: #000;
  border-radius: 20px;
}

.form-group i {
  position: absolute;
  left: 11px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 26px;
  color: rgba(14, 103, 169, 0.2);
}

.form-group {
  margin-bottom: 10px;
  position: relative;
  margin: 10px auto;
}

.form-control {
  padding-left: 50px;
  border-radius: 0px;
  border: none;
  background-color: rgba(100, 180, 252, 0.7);
  color: #0f68a9;
}

.form-control::placeholder {
  color: #0f68a9;
}

.submit-btn {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  width: 130px;
  border-radius: 20px;
  margin: 25px auto;
}

.submit-btn:hover {
  background-color: #ffd037;
  border-color: #ffd037;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.login-form {
  height: 100%;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.login-form::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 85px;
  width: 120%;
  height: 86%;
  z-index: -1;
  background-image: url(../images/bgShape.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.circle {
  border-radius: 50%;
  border: 1px solid #d9dde0;
  margin: auto;
}

.circle-one {
  width: 70px;
  height: 70px;
  position: relative;
  bottom: 7.5%;
}

.circle-two {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.circle-three {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


/* overlay style ---------------------------------------------------------------------------------------------*/

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0.8 !important;
}

.overlay-input {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  ;
}

.overlay-input:focus {
  background-color: transparent;
  color: #fff;
}

.overlay-input::placeholder {
  color: #fff;
}

.overlay-content i {
  color: rgba(255, 255, 255, 0.7);
}

.overlay-p {
  margin: 60px auto;
  font-size: 22px;
  font-family: helvetica-bold;
}

.overlay-content {
  color: #fff;
}

.modal-content {
  background-color: transparent;
  border: none;
}


/* homepage--------------------------------------------------------------------------------------------------- */

main p {
  font-size: 21px;
  font-weight: bold;
}

.home-header {
  margin-bottom: 75px;
}


/*  SVG background Circle -------------------------------------------------------------------------------------------------*/

.circle-svg {
  display: inline-block;
  position: relative;
  width: 100%;
  vertical-align: middle;
  z-index: -1;
}

.circle-svg svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.circle-svg circle {
  fill: #fff;
  stroke-width: 1px;
  stroke: #eaeaea;
}


/* three dots loader-----------------------------------------------------------------------------------------------------*/

.dots {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  -webkit-filter: url(#goo);
  filter: url(#goo);
}

.dot {
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
}

.dot:before {
  content: '';
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background: #FBD301;
  position: absolute;
  left: 50%;
  -webkit-transform: translateY(0) rotate(0deg);
  transform: translateY(0) rotate(0deg);
  margin-left: -17.5px;
  margin-top: -17.5px;
}

@-webkit-keyframes dot-move {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  18%,
  22% {
    -webkit-transform: translateY(-70px);
    transform: translateY(-70px);
  }
  40%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes dot-move {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  18%,
  22% {
    -webkit-transform: translateY(-70px);
    transform: translateY(-70px);
  }
  40%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes dot-colors {
  0% {
    background-color: #FBD301;
  }
  25% {
    background-color: #FF3270;
  }
  50% {
    background-color: #208BF1;
  }
  75% {
    background-color: #AFE102;
  }
  100% {
    background-color: #FBD301;
  }
}

@keyframes dot-colors {
  0% {
    background-color: #FBD301;
  }
  25% {
    background-color: #FF3270;
  }
  50% {
    background-color: #208BF1;
  }
  75% {
    background-color: #AFE102;
  }
  100% {
    background-color: #FBD301;
  }
}

.dot:nth-child(5):before {
  z-index: 100;
  width: 45.5px;
  height: 45.5px;
  margin-left: -22.75px;
  margin-top: -22.75px;
  -webkit-animation: dot-colors 4s ease infinite;
  animation: dot-colors 4s ease infinite;
}

@-webkit-keyframes dot-rotate-1 {
  0% {
    -webkit-transform: rotate(-105deg);
    transform: rotate(-105deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}

@keyframes dot-rotate-1 {
  0% {
    -webkit-transform: rotate(-105deg);
    transform: rotate(-105deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}

.dot:nth-child(1) {
  -webkit-animation: dot-rotate-1 4s 0s linear infinite;
  animation: dot-rotate-1 4s 0s linear infinite;
}

.dot:nth-child(1):before {
  background-color: #FF3270;
  -webkit-animation: dot-move 4s 0s ease infinite;
  animation: dot-move 4s 0s ease infinite;
}

@-webkit-keyframes dot-rotate-2 {
  0% {
    -webkit-transform: rotate(165deg);
    transform: rotate(165deg);
  }
  100% {
    -webkit-transform: rotate(540deg);
    transform: rotate(540deg);
  }
}

@keyframes dot-rotate-2 {
  0% {
    -webkit-transform: rotate(165deg);
    transform: rotate(165deg);
  }
  100% {
    -webkit-transform: rotate(540deg);
    transform: rotate(540deg);
  }
}

.dot:nth-child(2) {
  -webkit-animation: dot-rotate-2 4s 1s linear infinite;
  animation: dot-rotate-2 4s 1s linear infinite;
}

.dot:nth-child(2):before {
  background-color: #208BF1;
  -webkit-animation: dot-move 4s 1s ease infinite;
  animation: dot-move 4s 1s ease infinite;
}

@-webkit-keyframes dot-rotate-3 {
  0% {
    -webkit-transform: rotate(435deg);
    transform: rotate(435deg);
  }
  100% {
    -webkit-transform: rotate(810deg);
    transform: rotate(810deg);
  }
}

@keyframes dot-rotate-3 {
  0% {
    -webkit-transform: rotate(435deg);
    transform: rotate(435deg);
  }
  100% {
    -webkit-transform: rotate(810deg);
    transform: rotate(810deg);
  }
}

.dot:nth-child(3) {
  -webkit-animation: dot-rotate-3 4s 2s linear infinite;
  animation: dot-rotate-3 4s 2s linear infinite;
}

.dot:nth-child(3):before {
  background-color: #AFE102;
  -webkit-animation: dot-move 4s 2s ease infinite;
  animation: dot-move 4s 2s ease infinite;
}

@-webkit-keyframes dot-rotate-4 {
  0% {
    -webkit-transform: rotate(705deg);
    transform: rotate(705deg);
  }
  100% {
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
  }
}

@keyframes dot-rotate-4 {
  0% {
    -webkit-transform: rotate(705deg);
    transform: rotate(705deg);
  }
  100% {
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
  }
}

.dot:nth-child(4) {
  -webkit-animation: dot-rotate-4 4s 3s linear infinite;
  animation: dot-rotate-4 4s 3s linear infinite;
}

.dot:nth-child(4):before {
  background-color: #FBD301;
  -webkit-animation: dot-move 4s 3s ease infinite;
  animation: dot-move 4s 3s ease infinite;
}

.info {
  padding-top: 35px;
}


/* carousal--------------------------------------------------------------------------------------------- */

main .card {
  border: none;
  -webkit-box-shadow: 3px 3px 13px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 3px 3px 13px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 3px 3px 13px 0px rgba(0, 0, 0, 0.4);
}

.card-body .fa-bookmark {
  font-size: 42px;
  color: #f1125b;
  z-index: 999;
  top: 15px;
  left: 40px;
  position: absolute;
}

.slider-container {
  position: relative;
  margin: 25px 0 100px 0;
}

.carousel-inner img {
  width: 100%;
  height: 100%
}

.carousel-indicators li {
  text-indent: 0;
}

.carousel-indicators li .carousal-head {
  font-size: 16px;
}

.carousel-indicators li .carousal-sub {
  font-size: 14px;
}

.carousel-indicators li.active .carousal-head {
  font-size: 21px;
}

.carousel-indicators li.active .carousal-sub {
  font-size: 18px;
}

.carousel-indicators .line {
  width: 25%;
  height: 2px;
  background-color: #c1c1c1;
}

.carousel-indicators li.active .line {
  width: 30%;
  height: 4px;
  background-color: #1e8fff;
}

#custCarousel .carousel-indicators {
  position: static;
  margin-top: 20px;
  display: block;
  margin: 0;
}

#custCarousel .carousel-indicators>li {
  width: 90%;
  height: 22%;
  text-align: right;
}

#custCarousel .carousel-indicators li img {
  display: block;
  opacity: 0.5
}

#custCarousel .carousel-indicators li.active img {
  opacity: 1
}

#custCarousel .carousel-indicators li:hover img {
  opacity: 0.75
}

.list-inline-item {
  display: block;
}

.carousel-item img {
  width: 100%
}


/* rainbow line Loader------------------------------------------------------------------------------------------------------ */

.loader {
  height: 10px;
  width: 98%;
  background-color: #d0d0d0;
  border-radius: 20px;
  position: absolute;
  bottom: -35px;
  left: 15px;
}

.rainbow {
  height: 10px;
  width: 30px;
  background-color: #2ed249;
  border-radius: 20px;
  animation-name: rainbow;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  position: absolute;
  bottom: -35px;
  left: 15px;
}

@keyframes rainbow {
  width: 98%;
  0% {
    background: linear-gradient(90deg, #ff174e 0%, #ffa611 25%, #cac135 50%, #5ca5a3 75%, #2ed249 100%);
  }
  20% {
    background: linear-gradient(90deg, #ff174e 0%, #ffa611 25%, #cac135 50%, #5ca5a3 75%, #2ed249 100%);
  }
  40% {
    background: linear-gradient(90deg, #ff174e 0%, #ffa611 25%, #cac135 50%, #5ca5a3 75%, #2ed249 100%);
  }
  60% {
    background: linear-gradient(90deg, #ff174e 0%, #ffa611 25%, #cac135 50%, #5ca5a3 75%, #2ed249 100%);
  }
  80% {
    background: linear-gradient(90deg, #ff174e 0%, #ffa611 25%, #cac135 50%, #5ca5a3 75%, #2ed249 100%);
  }
  100% {
    background: linear-gradient(90deg, #ff174e 0%, #ffa611 25%, #cac135 50%, #5ca5a3 75%, #2ed249 100%);
  }
  100% {
    width: 98%;
  }
}


/* footer------------------------------------------------------------------------------------------------------------- */

footer {
  text-align: left;
}

footer ul {
  margin: 0;
}

.footer-icon {
  display: inline-block;
}

.footer-icon img {
  width: 50px;
  margin-right: 5px;
}

.twitter img {
  width: 30px;
}

.linked img {
  width: 70px;
}

.homeFooter .footer-icon {
  display: inline-block;
}

.homeFooter .footer-icon img {
  width: 50px;
  margin-right: 5px;
}

.homeFooter .twitter img {
  width: 30px;
}

.homeFooter .linked img {
  width: 70px;
}

.homeFooter small {
  color: #000;
}


/* mediaQuery--------------------------------------------------------------------------------------------------------- */

@media (max-width: 1110px) {
  .login-form::after {
    right: 16px;
    width: 138%;
  }
}

@media (max-width: 990px) {
  .navbar-nav {
    margin: 0;
    background-color: #fefefe;
    padding: 0;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2)
  }
  header .nav-item .nav-link {
    margin: 0;
  }
  .carousel-indicators li.active .carousal-head,
  .carousel-indicators li.active .carousal-sub {
    margin-bottom: 0;
  }
}

@media (max-width: 970px) {
  .login-form::after {
    right: -77px;
    width: 170%;
  }
}

@media (max-width: 770px) {
  .login-form::after {
    right: -200px;
    width: 245%;
  }
  .carousel-indicators li.active .carousal-head,
  .carousel-indicators li.active .carousal-sub {
    margin-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  .carousel-indicators li p.carousal-head {
    font-size: 14px;
  }
  .carousel-indicators li p.carousal-sub {
    font-size: 12px;
  }
  .carousel-indicators li.active p.carousal-head {
    font-size: 15px;
  }
  .carousel-indicators li.active p.carousal-sub {
    font-size: 13px;
  }
  #custCarousel .carousel-indicators>li {
    height: 18%;
    width: 100%;
  }
  .loader {
    width: 96%;
  }
  @keyframes rainbow {
    width: 96%;
    0% {
      background: linear-gradient(90deg, #ff174e 0%, #ffa611 25%, #cac135 50%, #5ca5a3 75%, #2ed249 100%);
    }
    20% {
      background: linear-gradient(90deg, #ff174e 0%, #ffa611 25%, #cac135 50%, #5ca5a3 75%, #2ed249 100%);
    }
    40% {
      background: linear-gradient(90deg, #ff174e 0%, #ffa611 25%, #cac135 50%, #5ca5a3 75%, #2ed249 100%);
    }
    60% {
      background: linear-gradient(90deg, #ff174e 0%, #ffa611 25%, #cac135 50%, #5ca5a3 75%, #2ed249 100%);
    }
    80% {
      background: linear-gradient(90deg, #ff174e 0%, #ffa611 25%, #cac135 50%, #5ca5a3 75%, #2ed249 100%);
    }
    100% {
      background: linear-gradient(90deg, #ff174e 0%, #ffa611 25%, #cac135 50%, #5ca5a3 75%, #2ed249 100%);
    }
    100% {
      width: 96%;
    }
  }
}

@media (max-width: 767px) {
  .list-inline-item {
    display: none;
  }
  .list-inline-item.active {
    display: block;
  }
}

@media (max-width: 425px) {
  .login-form::after {
    right: 0px;
    width: 245%;
  }
  .navbar-brand img {
    width: 150px;
  }
  .circle-one {
    display: none;
  }
  .circle-svg{
    display: none;
  }
  .loader {
    width: 93%;
  }
  @keyframes rainbow {
    width: 93%;
    0% {
      background: linear-gradient(90deg, #ff174e 0%, #ffa611 25%, #cac135 50%, #5ca5a3 75%, #2ed249 100%);
    }
    20% {
      background: linear-gradient(90deg, #ff174e 0%, #ffa611 25%, #cac135 50%, #5ca5a3 75%, #2ed249 100%);
    }
    40% {
      background: linear-gradient(90deg, #ff174e 0%, #ffa611 25%, #cac135 50%, #5ca5a3 75%, #2ed249 100%);
    }
    60% {
      background: linear-gradient(90deg, #ff174e 0%, #ffa611 25%, #cac135 50%, #5ca5a3 75%, #2ed249 100%);
    }
    80% {
      background: linear-gradient(90deg, #ff174e 0%, #ffa611 25%, #cac135 50%, #5ca5a3 75%, #2ed249 100%);
    }
    100% {
      background: linear-gradient(90deg, #ff174e 0%, #ffa611 25%, #cac135 50%, #5ca5a3 75%, #2ed249 100%);
    }
    100% {
      width: 93%;
    }
  }
}
